<nav>
  <ul class="breadcrumb text-center">
    <li class="breadcrumb-item"><a href="/about">About</a></li>
    <li class="breadcrumb-item"><a href="/pf">Pf</a></li>
    <li class="breadcrumb-item"><a href="/team">Team</a></li>
  </ul>
</nav>